.main-body {
	background-color: #2e2e2e;
}

.header-text {
	font-size: 32px;
	color: #ffffff;
}

.subheader-text {
	font-size: 28px;
	color: #ffffff;
}

p,h1,h2,h3,h3 {
	color: #ffffff;
}

h4 {
	color: #ffffff;
	margin-left: 2%;
}

ol {
	color: #ffffff;
	text-align: center;
	list-style-position: inside;
}
